

.topnav {
    overflow: hidden;
    background-color: #e9e9e9;


.topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
















body{ margin: 2.0em;

}




.black{color: black}

.container{
    width: 100%;
    height:90%;
    margin: 0 auto;

}





h1{
    color: rgb(0, 0, 0);
    text-align: auto;
    font-weight: bolder;
    font-style: italic;
    font-size: 60;
    margin: 20;
    font-family: 'Cookie', cursive;
    h1 :class="animate__animated animate__bounce"
    


}

p{
    color:cornflowerblue;
    text-align: center;
    font-family: 'Roboto Slab', serif;
 }


 #types {
     color: black;
 }


 #chart{
     width: 100%;
     margin-left: auto;
     margin-right: auto;
     
 }


 footer {
	background-color: gray;
	position: absolute;
	width: 100%;
	height: auto;
}

footer ul li {
	display: inline-block;
	list-style: none;
	float: right;
	
}

footer p {
	float: left;
}

footer a,
footer p {

	color:#fff;
	vertical-align: middle;


}
